.home {
    margin-top: var(--margin-lg);
}

.home__hero {
    display: grid;
    height: 70vh;
    justify-content: space-between;
    grid-template-columns: 2fr 3fr;
    grid-gap: var(--margin-xl);
}

.hero__left .button1 {
    background-color: green;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 160px;
    padding: 0 var(--margin-md);
    min-width: max-content;
}

.home .hero__left,
.home .hero__right {
    
    display: flex;
    flex-flow: column nowrap;
    gap: var(--margin-md);
    justify-content: center;
}

.home__hero h1 {
    margin-bottom: var(--margin-md);
    font-size: calc(var(--font-h1) + var(--margin-md));
    line-height: 1.2;
}

.home__hero p {
    color: var(--gray-dark);
}

.home .hero__img {
    width: 100%;
    box-shadow: var(--box-shadow-depth);
    float: right;
}

.home .hero__img__small {
    width: 50%; /* Adjust size as needed */
    box-shadow: var(--box-shadow-depth);
}

.home__info {
    margin-top: var(--margin-xxl);
}

.home__title {
    text-align: center;
    margin: var(--margin-xl) auto;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-xxl) 0;
    gap: var(--margin-md); /* Adjust gap to control spacing */
}

.info__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-md);
}

.info__item img {
    width: 50%; /* Adjust size as needed */
    box-shadow: var(--box-shadow-depth);
    margin-bottom: var(--margin-md);
}

.info__item .info__text {
    text-align: center;
}

.info__item .info__text h3 {
    margin: 0; /* Remove margin for these h3 elements */
    padding: 0; /* Remove padding for these h3 elements */
}

.info__name {
    margin: 0; /* Remove margin for Usain Bolt h3 */
    padding: 0; /* Remove padding for Usain Bolt h3 */
}

.home__info h3 {
    margin-bottom: var(--margin-md);
}

.home__info p {
    color: var(--gray-dark);
}
