<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pokemon test</title>
</head>

<body>
    <h1>Search for a sport to find out which Pokemons you could beat </h1>
    <form method="POST">
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport" required>
        <button type="submit">Search</button>
    </form>
    {% if sport_stats %}
    <h2>Your stats for {{ request.form.sport }} :</h2>
    <ul>
        <li>Speed: {{ sport_stats.speed }} %</li>
        <li>Strength: {{ sport_stats.strength }} %</li>
        <li>Durability: {{ sport_stats.durability }} %</li>
    </ul>
    <h2>Pokemons you could beat:</h2>
    <ul>
        {% for pokemon in pokemons_you_can_beat %}
        <li>{{ pokemon }}</li>
        {% endfor %}
    </ul>
    {% elif sport_stats is none %}
    <p>No stats found for the sport "{{ request.form.sport }}"</p>
    {% endif %}
</body>

</html>