{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="home">
    <section class="home__hero">
        <div class="hero__left">
            <h1>
                Did you ever wonder...
            </h1>
            <h2> "Which pokemon could I beat?"" </h2>
            <p>
                Now you can find out which pokemons you could beat, based on your athletic skill set.
            </p>

            {{ cta_button('btn--large') }}
        </div>
        <div class="hero__right">
            <img src="{{ url_for('static', filename='images/pokemon2.png') }}" alt="ol" class="hero__img">
        </div>
    </section>

    <section class="home__info">
        <h2 class="home__title">
            Usain Bolt VS. Zeraora
        </h2>
        <div class="info__item">
            <div class="info__header">
                <h3 class="info__name">Usain Bolt</h3>
            </div>
            <img src="{{ url_for('static', filename='images/usain.jpg') }}" alt="produce" class="hero__img__small">
            <div class="info__text">
                <h3>Speed 100%</h3>
                <h3>Strength 90%</h3>
                <h3>Durability 22%</h3>
            </div>
        </div>
    </section>
</div>
{% endblock %}
